// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #4046FC;
$secondary : #D0D765;
$accent    : #6C65D7;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #e39eb8;
$negative  : #4b4446;
$info      : #948fe4;
$warning   : #29217d;

// 添加自定義變量
$primary-dark: #285e46;
$text-light: #000;
$text-dark: #fff;

// 添加字體變數
$font-body: 'Noto Sans TC', sans-serif;
$font-title: 'Nova Round';
$font-title-2: 'Dela Gothic One';
